*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection {
    background: #fff;
    color: #ff0000;
  }
.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #7eaef6, #97a9fe, #b6a2ff, #d698fa, #f58cee);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    width: 400px;
    height: 600px;
    border-radius: 10px;

}
.left-arrow{
    position: absolute;
    left: 450px;
    top: 50%;
    font-size: 50px;
}
.right-arrow{
    position: absolute;
    right: 450px;
    top: 50%;
    font-size: 50px;
}
.heading{
    position: absolute;
    top: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}